.container {
  max-width: 1224px;
  margin: 0 auto;
}
body {
  font-family: Roboto, sans-serif;
}
/* button  */
.button {
  font-family: inherit;
  padding: 16px 32px;
  border-radius: 48px;
  border: none;
  background: #a855f7;
  color: #fff;
}
.button:hover {
  background-color: #c084fc;
}
.button:active {
  background-color: #9333ea;
}
/*  button end  */
/* header style */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon_logo {
  width: 35px;
  height: 35px;
}

.text_logo {
  display: inline;
  width: 120px;
  height: 21px;
}
.logo {
  display: inline-flex;
  align-items: center;
  padding: 7px 10px 6px 0px;
  gap: 20px;
}
.menu {
  display: inline-flex;
  align-items: center;
  gap: 52px;
}
.menu a {
  text-decoration: none;
  color: #1e293b;
  font-size: 16px;
  font-weight: 700;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 52px;
}
/* header style  end*/
